<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>Student Registration|Registrating</title>
</head>

<body style="background-color: rgb(99, 99, 255);">
    <div class="form-header">
        <H1>Registrate Here</H1>
    </div>

    <form action="/add" method="POST" style="align-items: center;">
        <div class="form-container">
            <div class="form-group">
                <label>First Name:</label>
                <input required type="text" name="fnam" placeholder="Enter Your first name">
            </div>

            <div class="form-group">
                <label>Last Name:</label>
                <input required type="text" name="lnam" placeholder="Enter Your Last name">
            </div>

            <div class="form-group">
                <label>Telephone Number:</label>
                <input required type="tel" name="tel" placeholder="Enter Your Phone Number">
            </div>

            <div class="form-group">
                <label>Email:</label>
                <input required type="email" name="mail" placeholder="Enter Your Email Address">
            </div>

            <div class="form-group">
                <label>Address:</label>
                <input required type="text" name="addy" placeholder="Enter Your Address">
            </div>

            <div class="form-group">
                <label>City:</label>
                <input required type="text" name="city" placeholder="Enter Your City Name">
            </div>

            <div class="form-group">
                <label>Number:</label>
                <input required type="number" name="numb" placeholder="Enter Your Favorite number">
            </div>

            <button class="btn-submit" type="submit">Finish Registration</button>
            
        </div>
    </form>

</body>

</html>